* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #23a884;
    display: flex;
    justify-content: center;
}

.wrapped {
    margin-top: 20px;
    height: 620px;
    width: 1000px;
    background: rgb(223, 186, 186);
    display: flex;
    flex-direction: row;
}

aside {
    width: 350px;
    background: #ffff;
}

main {
    width: 650px;
    background: rebeccapurple;
}

.navbar {
    padding: 5px;
    height: 50px;
    background: #F0F2F5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo figure img {
    border-radius: 50%;
    margin-left: 5px;
}

.login-section ul {
    display: flex;
    list-style: none;
}

.login-section ul li {
    margin: 10px;
}

.login-section ul li a i {
    color: #54656f;
}

.search {
    height: 40px;
    padding: 5px;
    border: 1px solid #F0F2F5;
}

.search .search-box {
    margin: 0 auto;
    width: 95%;
    height: 95%;
    background-color: #F0F2F5;
    color: #54656f;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.search .search-box input {
    width: 90%;
    margin-left: 5px;
    background: transparent;
    border: none;
    outline: none;
}

.chat {
    display: flex;
    flex-direction: column;
}

.chat .contact {
    display: flex;
    padding: 5px;
}

.chat .contact figure {
    width: 20%;
}

.chat .contact figure img {
    border-radius: 50%;
}

.chat .contact .detail {
    padding: 5px;
    width: 80%;
    border-bottom: 1px solid #E4E2DE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.chat .contact .detail small i {
    color: rgb(74, 165, 207);
}

.detail-user {
    margin-left: 10px;
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    width: 200px;
    height: 35px;
}

.detail-user small {
    color: #54656f;
}

.messages {
    background: url('./images/whats.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85%;
}

.type-message {
   padding: 5px;
    height: 43px;
    background-color: #F0F2F5;
}
.type-message input{
    width: 87%;
    padding: 8px;
    background: white;
    border-radius: 5px;
    border: none;
    outline: none;
}
.type-message i{
    font-size: 20px;
    padding: 3px;
    color: #54656f;
}